<h1>About</h1>
<p>
	Ride With Me is a motorcycle photography site powered by 
	<%= link_to "Ruby on Rails", "http://www.rubyonrails.org" %>. Share your pictures and tales of adventure.
</p>
<p>
	<%= image_tag("rwmTrail.jpg") %>
</p>