<div class="hero-unit">
	<h1>Welcome to Ride With Me!</h1>
	<h3>
		Tales of motorcycling adventure
	</h3>

	<p>
		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
</div>